# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/

# Test / Coverage
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS / Editor
.vscode/
.idea/
.DS_Store
Thumbs.db
